
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <img
        src="https://www.easypay.pt/wp-content/uploads/2021/08/easypay-1.svg"
         alt="Easypay Logo"
        loading="lazy"
        style="margin-top: -1px; height:27px !important;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/personal_informations">View Profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/contact_informations">Contact Information</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/educations">Education</a>
  </li>
  <li>
  <button class="button button-icon button-pink" data-ripple-light="true">
  <i class="material-icons">dashboard</i>
</button>
  </li>
      </ul>
      <!-- Left links -->

      <div class=" align-items-center">
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to'Sign Out', destroy_user_session_path, class:"btn btn-primary", data: { turbo_method: :delete} %>
        <% else %>
        <%= link_to'Sign In', new_user_session_path, class:"dropdown-item" %> 
        <button type="button" class="btn btn-primary me-3">
          Sign up for free
        </button>
        <% end %>
       </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->