<style>
.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: greenyellow;
  height: 95px;
}
</style>
<% if user_signed_in? %>  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-blue" style="background-color:"#92cd37"!important;">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <img
        src="https://www.easypayfinance.com/wp-content/uploads/2018/06/ep-one-tone-uo.png"
         alt="Easypay Logo"
        loading="lazy"
        style="margin-top: -1px; height:27px !important;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/personal_informations">View Profile</a>
      </li>
      <li class="nav-item">
      <%  if ContactInformation.exists?(user_id: current_user.id) %>
       <a class="nav-link" href="/contact_informations">Contact Information</a>
      <% else %>
      <a class="nav-link" href="/contact_informations/new">Contact Information</a>
      <% end %>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/educations">Education</a>
  </li>
  <li>

  </li>
      </ul>
      <!-- Left links -->

      <div class=" align-items-center">
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to'Sign Out', destroy_user_session_path, class:"btn", data: { turbo_method: :delete}, style:"background-color:#1ac668;" %>
        <% else %>
        <%= link_to'Sign In', new_user_session_path, class:"dropdown-item" %> 
        <button type="button" class="btn btn-primary me-3" >
          Sign up for free
        </button>
        <% end %>
       </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
 <% else %>

<% end %>
