 <div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 style="text-align: center;"></h3>
		</div>
		<p style="color: green"><%= notice %></p>

		<%= render 'partials/mybills' %>
		<br>
		<br>
 
		<%= render 'partials/bill' %>
	</div>
</div>

