 <div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1> You are on Welcome Page</h1>
		</div>
		 
		</div>
	</div>
 
<%= render'partials/mybills' %>
<%= link_to'Back',root_path %>
